[2016-09-09 14:08] toddstavish opened #1 "Test"

[2016-09-09 14:09] #1 closed

[2016-09-25 00:29] aurotripathy opened #2 "Example code for converting from lat/log to x/y"
I need help with converting geojson lat/log to x/y pixels. Is there a simple example?

The helper function is available in getTools.py, what's missing is an example of how to put it together.

The example can take as input any tif file and its corresponding geojson file and return the pixel coordinates of the bounding-boxes.

Thank you.

[2016-09-25 16:02] aurotripathy commented on #2
I got a small sample working, closing this out so as not to waste bandwidth on this.
[code]

[2016-09-25 16:05] #2 closed

[2016-09-27 15:01] dlindenbaum commented on #2
Hello,

Thank you for your interest.  Over the next few weeks we will be pushing out more code and examples.  All feedback is appreciated.

Yes, the data is provided in both pixel and geo.  An example Can be seen in geoTools in the function
geoPolygonToPixelPolygonWKT

You can look at https://pcjericks.github.io/py-gdalogr-cookbook/geometry.html as a good reference for how to create a geometry

Th

[2016-10-11 16:08] aurotripathy opened #3 "Utilities to rotate images and recompute the pixel-level bounding polygons."
Hello:

I'm interested in augmenting the dataset via rotation.

I want to start with the original untiled images, rotate them (from the center of the image), then retile them. Along with that step,  I'd like the pixel-level annotations for the bounding polygons to the adjusted accordingly.

Will you make available utilities to rotate images and recompute the pixel-level bounding polygons.

-Auro

[2016-10-13 14:45] dlindenbaum commented on #3
Hello Auro,

I think that should be possible.  It may take a couple of days but I will add it to the work list.

Dave

[2016-10-13 15:09] toddstavish commented on #3
Awesome work! BTW, we are posting different approaches to analyzing Spacenet on our blog -The DownlinQ.  - https://medium.com/the-downlinq

[2016-11-03 10:20] bakonzo commented on #3
Hello:

NEW Topcoder Challenge - Create Geospatial Computer Vision Algorithms with Real Satellite Data!
Geospatial Computer Vision Algorithms? Yes please!!!
1 11 November 2016 I got a pre-register invitation

This is not Spam, I would like you know that  I accept the invitation and for the reason that I am here I cannot compete even If I have this perspective of count up & running & working. My pe

[2016-11-15 13:16] qinhaifangpku opened #4 "about data"
hi~all
i have seen the spacenet challenge in http://crowdsourcing.topcoder.com/spacenet
but i wonder where i could get the data,  train data and test data?
and what should i post in the topcoder?

thank you for your help in advance!

[2016-11-15 19:50] toddstavish commented on #4
Data can be found here:

https://aws.amazon.com/public-datasets/spacenet/

Submissions, implementations, metric are described here:

http://crowdsourcing.topcoder.com/spacenet_asset_library

[2016-11-15 19:51] #3 closed

[2016-11-15 19:51] #4 closed

[2016-11-16 03:30] qinhaifangpku commented on #4
@toddstavish thank you! i have downloaded the data. and i still could not found the submissions describtion in the adress you provied.  could you give me a more clearly link adress?
in addition when i click the [object detcttion on spacenet]  in http://crowdsourcing.topcoder.com/spacenet_asset_library .  it cannot open.
thank you for your help in advance!

[2016-11-16 14:41] toddstavish commented on #4
Here is a direct link to the object detection on spacenet post -

https://medium.com/the-downlinq/object-detection-on-spacenet-5e691961d257

The exact submission format (including a way to visualize your proposals)
will be released in the next couple of days on the TopCoder site.

On Tue, Nov 15, 2016 at 10:30 PM qinhaifangpku <notifications@github.com>
wrote:

[2017-03-13 16:02] dlindenbaum opened #5 "Create PASCAL VOC / MNC / Kitti/ YOLO Labeling for spacenet data"

[2017-03-14 17:34] dlindenbaum opened #6 "Create Docker Files / Docker Images for SpaceNet"
Create CPU and GPU enabled versions for using spaceNetUtilities

[2017-03-18 02:24] dlindenbaum commented on #5
Currently being worked on spacenetV2 branch.  Which is soon to be merged
#9 #8 #
All formats are initially completed except KITTI

Thanks to @lncohn for the help with SBD

[2017-03-21 18:50] avanetten commented on #5
Add 80% of bounding box extent for YOLT

[2017-03-22 09:15] smajida opened #11 "An error occurred (AccessDenied) when calling the GetObject operation: Access Denied"
when I run :
aws s3api get-object --bucket spacenet-dataset --key AOI_1_Rio/srcData/rasterData/8-Band.tar.gz --request-payer requester 8-Band.tar.gz

I get the following error:
An error occurred (AccessDenied) when calling the GetObject operation: Access Denied

For the other files, I did not such download problem.

[2017-03-22 16:03] dlindenbaum commented on #11
Hello,

Thank you for working with SpaceNet
Please try again.  I checked the ACLs and it was wrong.

It's been switched to public-read.

Thank you,

[2017-03-26 08:05] oneOfThePeople opened #16 "error while running creatDataSpaceNet.py"
hi
i run this line in python
`createDataSpaceNet.py ~/spacenet-data/AOI_5_Khartoum_Train/`
and the code exit like this (in the terminal)-
`Segmentation fault (core dumped)
`
and like this in pycharm -
`Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)
`
 when  i do debugging i see that the problrm acure in this line at labelTools.py
`gdal.RasterizeLayer(target_ds, [1], innerB

[2017-03-26 15:42] dlindenbaum commented on #16
Hello,

That's interesting,  I have not seen that error.
I just ran the code against AOI_5_Khartoum_Train to check and did not get the error.

Does the error occur on the first image it tries to process or is it after several images?  If it's not the first image can you see if the error occurs on the same image every time?

Thank you,

Dave

[2017-03-28 09:47] oneOfThePeople commented on #16
The error occur on the first image.
So i take random image (img 50), run the code and its work
Maybe the download was wrong and there is damage images
I will check and update
Thank you

[2017-03-29 08:55] oneOfThePeople commented on #16
I download the images again and i got same error...
in most of the image that i check the cod not working...

[2017-03-29 14:54] dlindenbaum commented on #16
Hello,
I re-downloaded the data, spun up a new docker container and ran it without issue.  Code has been tested in Ubuntu 16.04 and mac OSX
[code]
_________________________________________
I guess it's time to ask questions about your setup.
What OS?
What GDAL version is python using?
in python execute
[code]

What gdal executables do you have
on command line?
[code]

Thanks,
Hopefully we can solv

[2017-03-30 07:41] oneOfThePeople commented on #16
ubuntu 16.04
python 2.7
GDAL 2.1.3, released 2017/20/01
i try to install with pip GDAL 1.11.3
` sudo -H  pip install GDAL==1.11.3`
the output is

[2017-03-30 10:49] oneOfThePeople commented on #16
ok the gdal was the problem
thank you very mach

[2017-03-30 14:48] dlindenbaum commented on #16
Great, Closing this Issue

[2017-03-30 14:48] #16 closed

[2017-03-30 17:06] smajida commented on #11
@dlindenbaum
thanks. The problem is solved.

[2017-03-30 17:06] #11 closed

[2017-04-04 00:25] dlindenbaum opened #19 "Add gdal 2.1 support to Docker File"

[2017-04-13 17:51] dlindenbaum opened #20 "Add Utility support for Spacenet POI dataset"

[2017-04-13 23:39] dlindenbaum commented on #5
#21 Currently being worked

[2017-04-13 23:39] dlindenbaum commented on #20
#21 This pull request should provide basic functionality

[2017-04-16 03:35] yghlc opened #22 "createDataSpacenet.py crashed when transforming data to PASCAL VOL2012"
I used createDataSpacenet.py to transform SpanceNet to PASCAL VOL 2012, the script crashed with the following message:
` Process finished with exit code 139 (interrupted by signal 11: SIGSEGV)`
The codes position of crashing is in "labelTools.py":
[code]

It worked fine in the first loop but crashed in the second, the images I used is
 AOI_2_Vegas_Train/RGB-PanSharpen/RGB-PanSharpen_AOI_2_Vegas_im

[2017-04-16 08:30] yghlc commented on #22
After more test, I found this issue could due to the quality of geojson provided in SpaceNet.
I test on two geojson files: buildings_AOI_2_Vegas_img1.geojson and buildings_AOI_2_Vegas_img101.geojson.

For buildings_AOI_2_Vegas_img1.geojson, there is a point in this file, so the file contains two layers, one is polygon layer, the other is point layer. After I deleted the point in this file, the cod

[2017-04-17 14:21] dlindenbaum commented on #22
Hello,

Generally we've found that newer versions of GDAL do not have this problem.  Try upgrading your gdal binaries and gdal python

I believe this is the same error as seen in #16
_________

For posterity some questions about your hardware/software setup
What OS?
What GDAL version is python using?
in python execute
[code]
What gdal executables do you have
on command line?
[code]

Thank you,
Dav

[2017-04-17 14:40] yghlc commented on #22
@dlindenbaum Thank you for your reply.
The OS is:
    Ubuntu 16.04
    Python 2.7.12
GDAL version:
[code]
[code]
Maybe I downgrade the gdal to 1.11.3 can solve this problem.

Actually, I already removed all the files can cause createDataSpacenet.py crashed. I wrote script to do this. In the end, it's almost 10% of the files can cause createDataSpacenet.py crashed.

[2017-04-17 15:23] dlindenbaum commented on #22
I think it's that your python bindings for GDAL are old. 2010300, is an older version.   Try updating those.  I don't think you need to downgrade the GDAL binaries.

[code]

Thank you,

[2017-04-17 16:47] dlindenbaum commented on #22
Hello,

are you using Anaconda/conda?

[2017-04-17 23:11] dlindenbaum commented on #22
Hello,

It appears that one problem may be with that Certain versions of GDAL are taking the field "Id" in the GeoJSON and using that as a File ID.  since that Id field is not unique in the dataset it is causing errors.  You can remove all attributes from a geoJSON.  I believe that will allow you to run using all the data.  I'll work on getting an updated list of geoJSONs that have the unused attr

[2017-04-18 00:13] yghlc commented on #22
@dlindenbaum Thanks for your work.
I didn't use Anaconda/conda. I use the default python on Ubuntu 16.04.

When I tried to upgrade the python bindings for GDAL, it said it is the newest version. See the following message.   I think "2010300"  isn't old version, it means 2.1.3, not in the year of 2010.
Also, on my MacBookPro, the "gdal.VersionInfo()" in python output '2010100', and "gdalinfo --vers

[2017-04-18 01:01] dlindenbaum commented on #22
@yghlc
You are correct.  I made a mistake on interpreting GDAL Versions.   I did some exploration.  Something occurred with the newer GDAL bindings which is causing the error.  I've been able to reproduce it.

I have not figured out a way to fix it in code but I will work to fix the data and have it re-uploaded.

In the mean time I believe that the below will solve the problem,

1.  Remove all Fie

[2017-04-18 20:42] dlindenbaum commented on #22
@yghlc I believe I fixed the error and it should run as expected After the last merge.

[2017-04-19 00:40] yghlc commented on #22
@dlindenbaum Many Thanks. I will run the codes and tell you my result this weekend because I have an exam tomorrow.

[2017-04-21 12:34] yghlc commented on #22
@dlindenbaum
Hi, Dave
   I ran your updated codes, it works for all the data. Many thanks!
Lingcao

[2017-04-21 12:38] yghlc commented on #22
fix #22

[2017-04-21 12:40] #22 closed

[2017-04-22 09:53] yghlc opened #24 "evaluate buildings detection from spaceNet"
Hello,
   The codes provides scripts for result evaluation, just like following:
[code]
I confuse how to evaluate because my alogrithm output is not a csv table, but a label image which while pixels belong to building and dark pixels belong to background.
I also can convert the label images to geojson files by using GDAL Polygonize function, but there are two issues:

1. how to assign the id for e

[2017-04-22 16:28] dlindenbaum commented on #24
Hello,
It's great that you've been able to develop your algorithm.  Can I ask what algorithm you are using?

In response.
1.  There is no need to match the buildingID from your proposal file to the truth file.  It is just a counter field.  It's main function it to indicate an empty tile by indicating -1.  The CSV submission format is for the SpaceNET Round 2 competition.  Currently going on at htt

[2017-04-23 06:20] yghlc commented on #24
Thanks Dave!
  The algorithm I used is Deep Convolutional Nets. Currently, I am working on my final project of the deep learning course at CUHK. The report deadline final project is in 3 days, so I'm working heavily on that.
    I knew the competition two weeks ago when I tried to download spaceNet for my course project. A little late for the competition. I will continue working on that if I have

[2017-04-25 03:45] #24 closed

[2017-05-09 12:37] oneOfThePeople opened #29 "error with SBD data"
i try run the command
[code]
there is problem with line 118 in createDataSpaceNet.py because we send bboxresize to geoJsonToSBD function and the parmeter not exist there

[2017-05-15 13:59] dlindenbaum commented on #29
@oneOfThePeople Hello,

Thanks for pointing out the error.  I'll work on getting that finished this week.

Thank you,

[2017-05-15 18:14] oneOfThePeople commented on #29
Hi,
If you take the code from [here ](https://github.com/lncohn/pascal_to_spacenet_2) so its update now and should to work

[2017-05-15 22:38] dlindenbaum commented on #29
@oneOfThePeople #31
Error with code is fixed.

[2017-05-15 22:38] #29 closed

[2017-06-07 05:49] oneOfThePeople opened #34 "evalTools.py"

[2017-07-13 15:48] maptopixel opened #37 "Building footprint data and its source"
What is the source of the ground-truth building footprints provided in the SpaceNet data on AWS? Is it data from by the relevant national map agency of each sample dataset? Or is it produced from some internal Digital Globe building database or manually digitised from the same imagery? What QA has been done on it? I'm most interested in the Shanghai AOI which is a WV-3 dataset.

[2017-07-13 16:44] dlindenbaum commented on #37
Hello,
The Las Vegas, Paris, Shanghai and Khartoum AOI datasets were manually digitized from the same imagery for the purpose of the competition and QA/QCed in house through the process.

[2017-07-14 08:00] maptopixel commented on #37
Thanks for the quick reply.

[2017-07-14 08:00] #37 closed

[2017-07-31 23:28] adwin5 commented on #11
@smajida @dlindenbaum
is the dataset still available now?
I have the access denied error
Thanks

[2017-08-01 14:32] dlindenbaum commented on #11
@adwin5 It should be available.  No changes to access have occurred recently.  What commands are you using to access the dataset?

Thank you,
David

[2017-08-01 17:59] adwin5 commented on #11
@dlindenbaum
I configured regions name to us-east-1,
output format GeoTIFF
and use the command same as above
aws s3api get-object --bucket spacenet-dataset --key AOI_1_Rio/srcData/rasterData/8-Band.tar.gz --request-payer requester 8-Band.tar.gz

[2017-08-01 18:45] dlindenbaum commented on #11
@adwin5 I've checked the acls- for the dataset.  It exists and downloads.

in addition to us-east-1 do you have a valid aws Access Key ID and Secret Access Key?

Thank you,
Dave

[2017-08-11 14:56] LokLu opened #40 "Pascal format file can't be rightly converted"
I try to use the createDataSpaceNet function to convert the original geojson to pascal format as the following command:

python python/createDataSpaceNet.py /media/lok/dataset/lok/data/spacenet/data/AOI_2_Vegas_Train/ \
	   --outputDirectory /media/lok/dataset/lok/data/spacenet/data/VOC/AOI_2_Vegas_Train/ \
           --convertTo8Bit

It can work on AOI_3 and AOI_4 dataset. But when it comes to AO

[2017-09-06 13:03] tomkee opened #41 "Spacenet availability on AWS"
Is spacenet still available on AWS?
Command:
` aws s3 ls spacenet-dataset`
returns:

[2017-09-06 13:06] #41 closed

[2017-09-13 14:42] mike-shvets commented on #40
Hello, in AOI_2_Vegas .geojson files appear to have "Id" field for each building object, which always equals 0. This gets interpreted by ogr module as if there is only one object (actually, the last one is being read).

That being said, the issue is in the data format, not in the utilities. I temporarily fixed that by renaming "Id" field to "tmp_Id" in all .geojson files.

[2017-09-17 07:58] LokLu commented on #40
@mike-shvets
Hello Mike, tks for your reply. I found it was caused by the "Id". Currently, I remove all the ' "Id": 0,' string from geojson file. And it now works.

[2017-09-17 08:01] #40 closed

[2017-09-20 16:57] dlindenbaum commented on #40
#47 Has some scripts that will show a way to clean the data.

[2017-10-24 09:24] maptopixel opened #60 "Missing scene metadata / .imd files"
Hi,

I've been looking over the Spacenet data for Shanghai. The WV3 metadata doesn't appear to be included (the .IMD files). For my classification research I need to be able to calculate TOA radiance (and potentially reflectance) using the metadata file. Is it possible for the IMD files to be provided please?

Thanks

[2017-10-24 14:33] dlindenbaum commented on #60
Hello,

That should be possible.  I have some of the IMD files right now but need to do some formatting.  I'll comment again with a location for the files.

What type of research are you doing?

Thank you,

[2017-10-25 08:55] maptopixel commented on #60
Great. To be more specific it's for a PhD student's project who is investigating fusing Worldview-3 and Sentinel 2 and assessing the impact on built-up area classification accuracy . It's early stage but radiance calculation is the first step. Would be happy to provide more info as we go if it's of interest.

[2017-11-20 22:26] robLantz opened #72 "createDataSpaceNet.py appends extra sub folder..."
Running this:
`python ./utilities/python/createDataSpaceNet.py AOI_2_Vegas_Train --srcImageryDirectory RGB-PanSharpen --annotationType DARKNET --outputFileType JPEG`
Returns this...
`fullpathImageDirectory = AOI_2_Vegas_Train/AOI_2_Vegas_Train/RGB-PanSharpen`

I found this on line 275-276 of the createDataSpaceNet.py script:
`for aoiSubDir in listOfAOIs:
        fullPathSubDir = os.path.join(srcSp

[2017-11-20 22:57] robLantz opened #73 "outputFileType does not convert to JPEG"
`$ python ./utilities/python/createDataSpaceNet.py AOI_2_Vegas_Train/ --srcImageryDirectory RGB-PanSharpen --annotationType DARKNET --outputFileType JPEG`

Does everything correctly, except that the files remain as .tif.

[2017-11-23 09:42] maptopixel commented on #60
Hi there. I noticed the request for the metadata has been added to the next Utilities release. Do you know when this might be?

Thanks

[2017-11-27 18:50] dlindenbaum commented on #60
Hello,

I'm currently finishing that up right now with Utilities version 3 released by the end of the week.

However, the metadata is now uploaded to AWS.

[code]
Thank you

[2017-11-28 16:16] maptopixel commented on #60
Great, looks good. I did notice there appears to be a quickview image there which I don't think is of the same scene 16FEB29111913-M2AS-055649178040_01_P001-BROWSE.JPG. Not sure if you meant to include that in that dir.

 Thanks for sharing the metadata.

[2018-04-18 03:41] 00krishna commented on #5
Say, are there any updates on this issue? Do the spacenetV2  or spacenetV3 branches include the Kitti annotation style?

[2018-04-18 05:21] 00krishna opened #78 "Is there a utility to convert the TIFF files into JPEG or PNG format?"
Just wanted to check if there was a utility in the package to convert the original TIFF files into JPEG or PNG format for ingestion into machine learning tools?

[2018-04-20 15:27] duplex143 opened #79 "Unable to download dataset from aws"
I'm unable to download most of the spacenet [datasets](https://spacenetchallenge.github.io/AOI_Lists/AOI_2_Vegas.html). For e.g., when I'm trying to download the Las Vegas Building Training Dataset using the command
`aws s3api get-object --bucket spacenet-dataset --key AOI_2_Vegas/AOI_2_Vegas_Train.tar.gz --request-payer requester AOI_2_Vegas_Train.tar.gz`, it's downloading partially (~70%) and I'

[2018-05-30 10:52] moeedkundi opened #80 "An error occurred (AccessDenied) when calling the GetObject operation: Access Denied"
I've been trying to download pre-trained models of a listed solution of road detection challenge i.e. by selim_sef.  Following is the script given on this git repository:

[code]

which results in

then i ran the following code to check the files present in this folder at aws:
[code]
and it successfully showed all files.

But when i tried to download a single file using this command:
[code]
 it st

[2018-06-04 14:16] dlindenbaum commented on #80
Hello,

I reviewed it and there was an error in the permissions on that group of files.  Please try again.  It should be fixed.

Thank you,

[2018-06-04 14:17] dlindenbaum commented on #79
Hello,

I am not sure how to help you.  It looks like you are having trouble downloading the large files.   This isn't something that we've had reporter before.  What type of data connection are you working on?

Thank you,

[2018-06-04 14:19] dlindenbaum commented on #78
Hello,

Yes, please see the readme:

For example:

[code]

[2018-06-04 14:19] #78 closed

[2018-06-04 14:42] duplex143 commented on #79
Apparently, this has something to do with my ssh server in which I was trying to download. Downloading is fine in Google Cloud though. I still haven't figured out the problem with my server.

[2018-06-04 14:42] #79 closed

[2018-07-18 16:05] reachsumit opened #81 "createDataSpaceNet.py doesn't convert all objects in geojson to bounding boxes for Darknet"
I am trying to generate Darknet style bounding boxes for spacenet tif files. The .gejson file for the corresponding tif files has more than 15 buildings. However, the createDataSpaceNet.py always outputs one entry in the text file. No error is given in the terminal.

[2018-07-20 17:52] #81 closed

[2018-07-25 15:58] Njuod opened #82 "SpaceNet Roads dataset"
Good afternoon,

I'm wondering, how could I download the SpaceNet Roads dataset?
The links in this page (https://medium.com/the-downlinq/introducing-the-spacenet-road-detection-and-routing-challenge-and-dataset-7604de39b779) doesn't work.
I thought that I should have an account with AWS but during the registration, they asked me for the Credit/Debit card number. So, I'm not sure if it is free.

Th

[2018-07-25 16:53] dlindenbaum commented on #82
Hello,

The SpaceNet dataset requires an AWS account to download.  This may require providing a credit card.  However, you will not be charged for download of the SpaceNet dataset.  I've updated the instructions for downloading the dataset.

https://spacenetchallenge.github.io/datasets/spacenetRoads-summary.html

[2018-08-07 17:28] nseeburn opened #83 "Permissions on the spacenet AWS S3 bucket"
I'm having trouble accessing data from the SpaceNet AWS public dataset. From previous similar issues there might be a permissions issue on the spacenet bucket.

I've verified that my access keyid, secret access key and region are configured correctly and was able to successfully list one of the LandSat open dataset buckets at s3://landsat-pds

I've attached the list command I use:
`aws s3 ls s3://

[2018-08-08 13:43] dlindenbaum commented on #83
Hello,

Thank you for trying to access the SpaceNet dataset.  No permissions should have changed recently with the dataset.

I just created a new account and verified that

```aws s3 ls s3://spacenet-dataset/ ``` works with it.

One thing to try.  SpaceNet is no longer a requester-pays bucket  therefor can you try it with out the request-payer tag?

Otherwise it may be a more complex problem.

Tha

[2018-08-08 14:34] nseeburn commented on #83
Thank you very much for getting back to me, I really appreciate it, especially as you must get this a lot. Just tried it without the request-payer tag, no luck. In the case that the bucket isn't requester-pays, from my understanding (which I'm happy to be wrong about) I think wget-ing the repo might also work, but returns a 430 error for me.

[2018-08-08 18:05] dlindenbaum commented on #83
Hello,

Thanks for the log file.  The log file looks correct.  The only thing I can see is that your aws-cli is a couple of generations old at this point.  However I don't think that should effect capability.

Dave

[2018-08-08 18:44] nseeburn commented on #83
I've just succeeded with my own personal instance. Looks like an issue on this end I wasn't aware of. I will proceed to interrogate an admin. Sorry to have bothered you, and thanks again for your help!

[2018-08-08 20:15] dlindenbaum commented on #83
Great,  I'm going to close the issue.  If you have any additional information that could help others and can provide it please do.

[2018-08-08 20:15] #83 closed

[2018-08-21 22:04] AnarBonny opened #84 "Is the Challenge dataset open to use for other purposes?"
Hi, I missed the Challenge deadline. Is any of the Challenge datasets allowed to be used in computer vision research? Thank you

[2018-08-21 22:38] dlindenbaum commented on #84
Hello,

Yes, the dataset is designed to be able to be used for continued computer vision research. The SpaceNet Buildings, Buildings V2 and Roads Dataset by SpaceNet Partners is licensed under a Creative Commons Attribution-ShareAlike 4.0 International License.

For more information about how to access the various datasets please see the below link.

https://spacenetchallenge.github.io/datasets/da

[2018-08-22 00:35] #84 closed

[2018-09-19 06:11] 00krishna opened #85 "NULL Pointer error when trying to process a geojson file with no building footprints"
I ran the code below to convert the Spacenet 2 Khartoum dataset to SBD format.

[code]

On `buildings_AOI_5_Khartoum_img3.geojson` the script crashed and I got the traceback below indicating a NULL pointer.

[code]

The error seems to be caused by the geojson file having no building footprints in it. So the script passes this empty set of footprints to OGR and OGR interprets that as a NULL. I thin

[2018-09-26 12:43] tayalkshitij opened #86 "Cannot access public dataset SPACENET"
On `http://spacenet-dataset.s3.amazonaws.com/` , public s3 bucket is `arn:aws:s3:::spacenet-dataset.`
However when I try to access the bucket via https
`http://spacenet-dataset.s3.amazonaws.com/`, it is giving following error
[code]

Is this dataset no longer public ?

[2018-09-26 13:59] dlindenbaum commented on #86
Hello,

The dataset is public.  However it requires an aws account to access.

It can be accessed through the aws command line tool or through presigned links.

https://spacenetchallenge.github.io/ has instructions for ways to access the data sets

Thank you,
Dave

[2018-10-02 18:19] boxerab opened #87 "You might want a .gitignore file in this repo"
`.pyc` files don't need to be committed; they can be filtered out with .gitignore.

[2018-10-17 11:05] antran89 commented on #86
Hi @tayalkshitij
We need to configure aws-cli first with your key and secret, and use aws-cli to access to the S3 bucket.
[code]

[2018-10-26 08:12] tianyu0523 opened #90 "AOI_2_Vegas_Train.tar.gz can not be rightly unzipped"
When I unzip the file  AOI_2_Vegas_Train.tar.gz, I meet a problem. I use ubuntu command "tar zxvf AOI_2_Vegas_Train.tar.gz". It shows the error information as below
"gzip: stdin: unexpected end of file
tar: Unexpected EOF in archive
tar: Unexpected EOF in archive
tar: Error is not recoverable: exiting now
"

[2018-11-13 13:12] dlindenbaum commented on #90
Hello,

This usually means that the file did not download completely or that you have run out of space locally.

How large is the tarball?

Thank you

[2018-11-13 13:14] #80 closed

[2018-11-13 13:14] #86 closed

[2018-11-13 13:14] #60 closed

[2018-11-20 20:04] LiliMeng opened #91 "error on running createDataSpaceNet.py"
File "/Users/lilimeng/Desktop/Price_prediction/SpaceNet/utilities/python/spaceNetUtilities/labelTools.py", line 4, in <module>
    import geoTools as gT
ImportError: No module named 'geoTools'

[2018-11-25 23:02] asaic opened #92 "coreLabelTools.py function createRasterFromGDF: make np.zeroes instead of np.empty"
coreLabelTools.py function createRasterFromGDF currently does this for an empty geojson (=no buildings):

burned = np.empty(rst.shape, dtype='uint8')

But if I understand correctly, what we want is an array with all zeroes:

burned = np.zeros(rst.shape, dtype='uint8')

[2018-11-27 03:40] nrweir commented on #91
Hi LiliMeng,

Can you provide us a little bit more information about the environment where this occurred? For example:
- Did you `pip install` the spacenetutilities package?
- Which version of `spacenetutilities` are you using (master, v2, or v3)?

[2018-11-27 03:47] nrweir opened #93 "Set up Sphinx Documentation Framework"
We're going to begin using Sphinx for documentation for the project:

http://www.sphinx-doc.org/en/master/usage/quickstart.html

I'm going to begin working on this myself but if others want to contribute expertise they're welcome to.

[2018-11-27 04:03] nrweir opened #94 "Write docstrings for all functions"
# Write docstrings for all functions
We need to begin writing docstrings for all of the functions in the package.

__Important components__:
- Single-line (<80 character) one-line summary.
- Description of each argument, including type, possible value(s), whether or not the argument is required, and any other important information for the user to understand how to use that argument.
- Description

[2018-11-27 12:43] nrweir opened #95 "Write pytest tests for all functions"
# Write pytest tests for all functions in the module

This is marked as hard not due to the intrinsic difficulty, but due to the amount of thought that will need to go into identifying all possible edge cases that could interfere with each function's performance. For example, if a function reads in a geojson-formatted file, can it handle an empty geojson (which throws an error in gdal/fiona)?

One

[2018-11-27 12:47] nrweir opened #96 "Implement continuous integration"
# Implement continuous integration

At one point in the past we had CircleCI set up for this repository. @dlindenbaum, do you know what the status on that was?

Ideally we should get this up and running again for at least python 2.7 and 3.6 with the versions of dependencies we want (see the related issue) with testing (see #95). We should probably also automatically trigger for PRs.

@dlindenbaum

[2018-11-27 12:50] nrweir opened #97 "Specify errors for bare excepts"
There are bare `except` statements in the code which caused me problems on several occasions as I tried to debug. These should have specific errors selected to ensure accurate behavior. @dlindenbaum, I can try to fix these (or at least ID the excepts that need to be targeted), but I'm not going to know what each one is supposed to be catching so might need help.

[2018-11-27 12:55] nrweir opened #98 "Implement doctest backbone"
# Doctest implementation

Per #95, I'd like to implement [doctest](https://docs.python.org/3.6/library/doctest.html) to run examples in the docstrings of the code, as this will make it easier to enable testing while including examples. There's some core functionality that will need to be implemented for each .py file to make this happen - see the link above.

[2018-11-27 14:40] nrweir commented on #85
Related to #97

[2018-11-27 19:02] nrweir opened #99 "Implement deprecation cycle"
_copied from [scikit-image's CONTRIBUTING.txt](https://github.com/scikit-image/scikit-image/blob/master/CONTRIBUTING.txt):_

Deprecation cycle

If the behavior of the library has to be changed, a deprecation cycle must be
followed to warn users.

a deprecation cycle is not necessary when:

adding a new function, or
adding a new keyword argument to the end of a function signature, or
fixing what wa

[2018-11-27 19:10] dlindenbaum commented on #96
I can work this.  We've moved to travis.ci.

It integrated well with pytest.  I can build the backbone and use it for measuring progress for

#95

[2018-11-27 19:20] dlindenbaum opened #100 "Create Dev Branch from Spacenetutilities_v3"
Create dev branch for next improvements as we move towards spacenet utilities 4.0

[2018-11-27 19:51] dlindenbaum opened #101 "Clean up import calls for some packages to expect new naming convention"
some packages call

```import geoTools ```

when they need to call

[code]

- [ ] Ensure each package will import.

- [ ] Update pytest to validate import errors

[2018-11-27 21:12] nrweir opened #103 "Update README.md"
# Update README.md

We need to read through the README carefully and see what is deprecated going from the "old" master to v3/dev. For example, the paths to some of the scripts referenced in the readme have changed, I'm not sure if the cli remains as it's described, etc.

Other tasks:
- include install instructions relevant to 4.0.0
- include links to readthedocs when that's live
- include a "vers

[2018-11-27 21:18] #100 closed

[2018-11-27 21:21] nrweir commented on #101
Related to #91, marking that one as a duplicate

[2018-11-27 21:22] nrweir commented on #91
As mentioned above, this is an issue that we're going to fix for 4.0.0. Going to mark this as a duplicate for clarity, even though you were the first to mention it (thanks for that!)

[2018-11-27 21:22] #91 closed

[2018-11-27 22:21] dlindenbaum commented on #96
Initial testing framework is done for python 3.6

[2018-12-03 13:57] nrweir opened #105 "Bring everything up to PEP 8 standard"
Fairly self-explanatory: https://www.python.org/dev/peps/pep-0008/

[2018-12-03 17:42] nrweir commented on #96
Resolved with #102

[2018-12-03 17:42] #96 closed

[2018-12-03 20:03] nrweir commented on #87
Resolved in the dev branch, will be present in 4.0.0

[2018-12-03 20:03] #87 closed

[2018-12-03 20:04] nrweir commented on #94
Going to focus on inferenceTools as the starting example. Building based on #106.

[2018-12-03 21:52] #93 closed

[2018-12-03 22:32] nrweir opened #107 "set up readthedocs"

[2018-12-13 17:39] nrweir commented on #90
Closing since this hasn't seen traffic in a month - if this issue gets encountered again feel free to comment and we can re-open.

[2018-12-13 17:39] #90 closed

[2018-12-18 14:24] chilieeh opened #109 "rtree, centerline not installed"
I am using Ubuntu 16.04 and v3 of this project. When running the utilities package with python 3 (default version when installing python on Ubuntu is 3.6.7), I get the error that the versions are not compatible (package is written in python 2.7 I assume?) just like this:

python3 createDataSpaceNet.py /LabData/AOI_2_Vegas_Roads_Train/
Traceback (most recent call last):
  File "createDataSpaceNet.p

[2018-12-18 14:38] nrweir commented on #109
Hi chilieeh, thanks for moving the issue here.

It looks like you're using the spacenetutilities master branch rather than the "current" version in [the spacenetV3 branch](https://github.com/SpaceNetChallenge/utilities/tree/spacenetV3). I'd recommend re-installing from that branch:

[code]

The structure of the package has changed a bit between versions, and in spacenetV3 the createDataSpaceNet.py

[2018-12-18 19:12] nrweir opened #110 "Get rid of print test in coreLabelTools.createCSVSummaryFile"
Specific line:

https://github.com/SpaceNetChallenge/utilities/blob/spacenetV3/spacenetutilities/labeltools/coreLabelTools.py#L236

[2019-01-23 18:49] rohun-tripathi opened #111 "Dataset for height of all objects"
Hi,
I am exploring the SpaceNet dataset. I am interested in ground truth labels for heights of objects off of the ground. Do we have ground truth labels for that in the dataset?
Thanks!

[2019-01-23 20:46] nrweir commented on #111
Hi Rohun,

Unfortunately those labels don't exist for the SpaceNet Challenge Datasets. However, the Urban 3D challenge dataset hosted by SpaceNet does provide these labels for the associated imagery: https://spacenetchallenge.github.io/datasets/Urban_3D_Challenge_summary.html

Good luck!

[2019-01-23 20:46] #111 closed

[2019-01-27 13:01] ash1995 opened #112 "Does the SpaceNet utilities support the Off Nadir Dataset (AOI 6 Atlanta)?"
Just wanted to know whether the utilities supports the SpaceNet Off Nadir dataset (AOI 6 Atlanta). I tried converting the off nadir annotations into the Darknet format but was unable to do so due to the createDataSpaceNet.py requiring, among other things, matching image and geojson pairs which is not the case for the Off Nadir dataset.

I would highly appreciate some clarification on this matter.

[2019-01-27 13:39] ash1995 commented on #81
@reachsumit I'm facing a similar problem while working with the Spacenet Off Nadir dataset. Converting annotations to Darknet format results in only a few annotations being converted and those that are converted are empty files. Were you able to successfully convert your annotations to Darknet annotations?

[2019-01-28 04:20] reachsumit commented on #81
@ash1995 IIRC, it didn't work for me. So, I used this: https://medium.com/the-downlinq/getting-started-with-spacenet-data-827fd2ec9f53 with a bit of customization.

[2019-02-13 11:53] ash1995 opened #113 "COCO annotations?"
Currently it is possible to utilise spacenet utilities to convert spacenet annotations to Pascal VOC/Darknet annotation formats. Are there any plans to introduce a functionality that will allow us to convert annotations into the MS COCO format?

[2019-02-14 07:46] ash1995 opened #114 "Why was the latlon2pixel function removed from geoTools.py in spacenetutilitiesV3?"
As far as I can tell, the only difference between the geoTools.py from the original spacenetutilities branch and the V3 branch is the removal of this function. I was just wondering why was this removed.

[2019-02-15 18:25] nrweir commented on #114
Hi ash1995,

We're in the process of re-structuring this entire package, including changing functions from specific versions (e.g. latlon2pixel) to versions that can accommodate other formats (in this case, other coordinate reference systems).

[2019-02-15 18:25] #114 closed

[2019-02-15 18:26] nrweir commented on #113
Hi ash1995,

Great question. As we re-structure our entire software stack these are the types of things we're considering. Given the high prevalence of models that use COCO-formatted labels, I expect that is something we'll end up incorporating, but can't say for sure.

[2019-02-15 18:26] #113 closed

[2019-02-17 07:36] ash1995 opened #115 "Off Nadir Dataset query: Images taken at different nadir angles have same annotation"
Hi,

I have a doubt regarding the SpaceNet Off Nadir dataset. The images in the dataset are named according to the following criteria: 'Atlanta_nadir{nadir-angle}_catid_{catid}_{x}_{y}'. The dataset contains 1064 geojson files which contain the building locations as labels.

Shouldn't the number of labels/geojson files be equal to the number of images in the dataset? If not, how do I resolve the f

[2019-02-19 07:04] ash1995 commented on #112
Hi @nrweir ,

I do have another doubt regarding the Off Nadir dataset and have opened an issue on it #115. I would highly appreciate any clarification you can provide.

[2019-02-19 14:42] maptopixel opened #116 "Scene metadata for Off-Nadir dataset"
The scene metadata (IMD XML file) was made available for the previous spacenet releases (https://github.com/SpaceNetChallenge/utilities/issues/60). This is very useful.

Are there any plans to do the same for the off-nadir data?

[2019-02-19 20:15] nrweir commented on #115
Hi ash1995,

In short, the building footprints label _where the buildings sit on the ground_ from a geospatial standpoint. This doesn't change as the look angle changes, though the distortion/displacement of the building and roof may make it appear that way. It is indeed harder to relate the building footprint to the image as the look angle increases - that's a big part of what this dataset is mea

[2019-02-19 20:15] #115 closed

[2019-02-19 20:26] nrweir commented on #116
Hi maptopixel,

I believe the data you need is up on the S3 bucket: check out the `workorder_[ID number]_01.xml` files in `s3://spacenet-dataset/AOI_6_Atlanta/[collect subdirs]`.

I'm going to close the issue, feel free to reopen if you have trouble finding it!

-Nick

[2019-02-19 20:26] #116 closed

[2019-03-20 09:50] SCoulY opened #117 "Cannot convert geojson to PASCALVOS2012 format using createDataSpaceNet.py"
Hi,
I followed the instructions in README and ran the following command:
python spacenetutilities/scripts/createDataSpaceNet.py /home/yuankunhao/datasets/spacenet/AOI_4_Shanghai_Train
--srcImageryDirectory RGB-PanSharpen
--outputDirectory /home/yuankunhao/datasets/spacenet/AOI_4_Shanghai_Train/annotations
 --annotationType PASCALVOC2012
--convertTo8Bit
--imgSizePix 400

The traceback is like this:

[2019-03-20 09:57] SCoulY commented on #117
From my observation geoJson been passed into gpd.read_file(geoJson) is exactly a list object but the function accepts a string or url to read. Is this a bug?

[2019-04-15 18:19] abinader96 opened #118 "Can't download spacenet data"
After running the command:

`aws s3 cp s3://spacenet-dataset/AOI_2_Vegas/srcData/rasterData/AOI_2_Vegas_MUL_Cloud.tif .`

An error is returned : `fatal error: An error occurred (403) when calling the HeadObject operation: Forbidden`

I'm able to download all .vrt files in the Vegas directory and the tif file called: AOI_2_Vegas_MUL-PanSharpen_Cloud.tif

I'm unable to download the rest of the tif f

[2019-04-16 04:03] dhthong92 opened #119 "No image data on many dataset"
I've successfully downloaded the data given here https://spacenetchallenge.github.io/. It was fine with AOI_1_Rio dataset, but when I extracted AOI_2_Vegas and AOI_3_Paris, all I got is just a bunch of black images and all files have the same size as well. I've tried to unzip on both Ubuntu and Windows but still the same. Do I extract the dataset in the right way? Or could you re-check the hosted

[2019-04-25 13:55] antran89 commented on #119
I think we should eliminate those images from training set.

[2019-04-29 16:04] nrweir commented on #119
The problem is likely not the images, but the software being used to open them. The images for Vegas, Paris, etc. are 16-bit TIFFs but the pixel values don't approach the 16-bit limit (65535). As a result, software that doesn't auto-scale to the image's bit range will display everything as black. CosmiQ has checked the posted images and confirmed that they contain image data. We recommend viewing

[2019-04-29 16:04] #119 closed

[2019-06-07 16:18] fractional-ray commented on #117
I am getting this same error when running python spacenetutilities/scripts/createDataSpaceNet.py --srcImageryDirectory RGB-PanSharpen
--outputDirectory /home/yuankunhao/datasets/spacenet/AOI_4_Shanghai_Train/annotations
--annotationType PASCALVOC2012
--convertTo8Bit
--imgSizePix 400

[2019-06-07 16:34] nrweir commented on #117
Which version of `spacenetutilities` are you using?We recommend using the V3 branch for working with those data.

[2019-06-07 16:37] fractional-ray commented on #117
I am on branch spacenetV3. :)

[2019-06-07 16:42] fractional-ray commented on #117
What I did was installed the dependencies then I pulled down the repo (spacenetV3). After this I went to the directory spacenetutilities/scripts and then ran the command

python createDataSpaceNet.py /AOI_2_Vegas/AOI_2_Vegas_Train/ \
           --srcImageryDirectory RGB-PanSharpen \
           --outputDirectory /AOI_2_Vegas/annotations/ \
           --annotationType PASCALVOC2012 \
           --im

[2019-06-07 16:48] nrweir commented on #117
OK. Good to know. There are a few long-standing issues with this project that will be resolved in a related project to be announced shortly. In the meantime, I'm not entirely sure why your image path is being encapsulated in `list(list(path))` rather than just `list(path)`, but that's presumably the issue. I'd start there.

Sorry I can't be of more help!

[2019-06-07 16:54] fractional-ray commented on #117
Okay, sounds good. I will look into this and if I find a solution to this I will post it on here so if others run in to it they can have a short term solution until the announcement comes 😄

[2019-06-07 17:56] fractional-ray commented on #117
There is no attribute in the json file (buildings_AOI_2_Vegas_img2364.geojson) that has the name:
'startswith'

[2019-06-09 13:04] SCoulY commented on #117
i was using V3 branch as well. I finally gave this up and converted the annotation myself.

[2019-06-25 16:15] alexhagen commented on #117
I've forked and added
[code]
at line ~116 and ~ 144 in `labeltools/pascalVOCLabel.py`.  This got me past the error described in this issue, but lead me to another issue:

[code]

I'm going to look to clean up this error and if it works, create a pull request.

[2019-06-25 16:27] alexhagen commented on #117
It looks like the second error corresponds to an empty geojson file, so this issue should be done.  I'll create a pull request.

[2019-06-25 16:28] nrweir commented on #117
@alexhagen thanks! We appreciate it.

That DriverError is a common issue for empty geojsons. I'd recommend adding the following block to catch it:

[code]

[2019-06-25 17:17] nrweir commented on #118
Thanks, this is a known issue with the MUL and PAN COGs in that directory. We're working on it. Sorry for the inconvenience.

[2019-06-25 17:18] #112 closed